<head>
  <!-- 내 커스텀 css파일 첨부 -->
  <link rel="stylesheet" href="/public/footer.css">
</head>

<body>
  <div id='wrap'>
    <section>
        <!-- 대충 뭐 요소들이 가득차있음 -->
      </section>
      <footer>
        <nav>
            <a href='https://www.instagram.com/suhyeon.ts/' target='_blank'>Instagram</a> |
            <a href='https://github.com/IwannaGetANewMacbook' target='_blank'>Github</a>
        </nav>
        <p>
            <span>저자 : 김수현</span><br/>
            <span>이메일 : 01057557503a@gmail.com</span><br/>
            <span>Copyright 2022. Suhyeon. All Rights Reserved.</span>
        </p>
    </footer>
  </div>
</body>