<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Graduation Project By Suhyeon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- 내 커스텀 css파일 첨부 -->
    <link rel="stylesheet" href="/public/main.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- nav.html을 첨부. -->
    <%- include("nav.html") %>
    <pre>
      <h1 class="text-center">오늘의 영어단어</h1>
      <h6 class="text-center">마음에 드는 영어단어 3개를 찾아 올려주세요😎</h6>
      <div class="text-center">
        <button onclick="window.open('https://en.dict.naver.com/#/main')" class="btn btn-outline-secondary">네이버사전</button><br>
        <button onclick="window.open('https://www.bbc.com/')" class="btn btn-outline-secondary">BBC NEWS</button>  <button
         onclick="window.open('https://us.cnn.com/')" class="btn btn-outline-secondary">CNN NEWS</button>  <button
          onclick="window.open('https://www.euronews.com/')" class="btn btn-outline-secondary">EURO NEWS</button>
      </div>      
    </pre>
    <h4 class="container mt-4"><strong>오늘의 단어</strong></h4>

    <div class="container mt-3">
      <form action="/add" method="POST">
        <div class="form-group">
          <label>오늘의 영어단어 3개를 입력하세요.</label>
          <input type="text" class="form-control" name="world1" onkeyup="chkCharCode(event)" />
          <input type="text" class="form-control" name="world2" onkeyup="chkCharCode(event)" />
          <input type="text" class="form-control" name="world3" onkeyup="chkCharCode(event)" />
        </div>
        <pre>

        </pre>
        <div class="form-group">
          <label>해당 단어의 뜻을 차례로 3개 입력하세요.</label>
          <input type="text" class="form-control" name="meaning1">
          <input type="text" class="form-control" name="meaning2">
          <input type="text" class="form-control" name="meaning3">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>

    <script>
      // 한글 입력을 막기위한 함수.
      function chkCharCode(event) {
        const regExp = /[^a-zA-Z0-9 ]*$/g;
      const ele = event.target;
      if (regExp.test(ele.value)) {
        ele.value = ele.value.replace(regExp, '');
      }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <%- include("footer.html") %>
  </body>
</html>